forms_n8n/submit_forms.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "godocs_submit",
        "responseMode": "responseNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2240, 176],
      "id": "597a5235-4a65-41b9-955c-f0021b711c79",
      "name": "Receber Dados",
      "webhookId": "submit_workflows_post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "data_submissao",
              "value": "={{ $now.setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "data_criacao",
              "value": "={{ $json.body.data_criacao_projeto ? $json.body.data_criacao_projeto.split(\"-\")[2] + \"/\" + $json.body.data_criacao_projeto.split(\"-\")[1] + \"/\" + $json.body.data_criacao_projeto.split(\"-\")[0] : '—' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "nome",
              "value": "={{ $json.body.responsavel_nome }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "email",
              "value": "={{ $json.body.responsavel_email }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "area",
              "value": "={{ $json.body.area }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "ferramenta",
              "value": "={{ $json.body.ferramenta }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "nome_projeto",
              "value": "={{ $json.body.nome_projeto }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "descricao_breve",
              "value": "={{ $json.body.descricao_breve || '—' }}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "escopo",
              "value": "={{ $json.body.escopo || '—' }}",
              "type": "string"
            },
            {
              "id": "10",
              "name": "tipos_projeto",
              "value": "={{ ($json.body.tipos_projeto || []).join(', ') }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "saving_horas",
              "value": "={{ Number($json.body.saving_horas || 0) }}",
              "type": "number"
            },
            {
              "id": "12",
              "name": "saving_reais",
              "value": "={{ Number($json.body.saving_reais || 0) }}",
              "type": "number"
            },
            {
              "id": "13",
              "name": "memorial_calculo",
              "value": "={{ $json.body.memorial_calculo || '—' }}",
              "type": "string"
            },
            {
              "id": "14",
              "name": "participantes",
              "value": "={{ ($json.body.membros || []).join(', ') }}",
              "type": "string"
            },
            {
              "id": "15",
              "name": "tipo_saving",
              "value": "={{ $json.body.tipo_saving || '—' }}",
              "type": "string"
            },
            {
              "id": "16",
              "name": "status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            },
            {
              "id": "17",
              "name": "projeto_id",
              "value": "={{ $json.body.projeto_id }}",
              "type": "string"
            },
            {
              "id": "18",
              "name": "custo_externo_mensal",
              "value": "={{ Number($json.body.custo_externo_mensal || 0) }}",
              "type": "number"
            },
            {
              "id": "19",
              "name": "saving_linhas",
              "value": "={{ $json.body.saving_linhas || '[]' }}",
              "type": "string"
            },
            {
              "id": "20",
              "name": "receita_valor_mensal",
              "value": "={{ Number($json.body.receita_valor_mensal || 0) }}",
              "type": "number"
            },
            {
              "id": "21",
              "name": "receita_memorial",
              "value": "={{ $json.body.receita_memorial || '—' }}",
              "type": "string"
            },
            {
              "id": "22",
              "name": "documentacao_json",
              "value": "={{ JSON.stringify($json.body.documentacao || {}) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-2016, 176],
      "id": "45a9d1f0-a31c-4c60-a241-6de4879ed4c8",
      "name": "Formatar Dados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "Data Submissão",
              "value": "={{ $json.data_submissao }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "Data Criação",
              "value": "={{ $json.data_criacao }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "Área",
              "value": "={{ $json.area }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "Nome Completo",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "Email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "Projeto",
              "value": "={{ $json.nome_projeto }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "Participantes",
              "value": "={{ $json.participantes }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "Descrição",
              "value": "={{ $json.descricao_breve }}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "Ferramenta",
              "value": "={{ $json.ferramenta }}",
              "type": "string"
            },
            {
              "id": "10",
              "name": "Escopo",
              "value": "={{ $json.escopo }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "Tipos Projeto",
              "value": "={{ $json.tipos_projeto }}",
              "type": "string"
            },
            {
              "id": "12",
              "name": "Saving Horas",
              "value": "={{ $json.saving_horas }}",
              "type": "number"
            },
            {
              "id": "13",
              "name": "Saving Reais",
              "value": "={{ $json.saving_reais }}",
              "type": "number"
            },
            {
              "id": "14",
              "name": "Tipo de Saving",
              "value": "={{ $json.tipo_saving }}",
              "type": "string"
            },
            {
              "id": "15",
              "name": "Memorial de Saving",
              "value": "={{ $json.memorial_calculo }}",
              "type": "string"
            },
            {
              "id": "16",
              "name": "Custo Externo Mensal",
              "value": "={{ $json.custo_externo_mensal }}",
              "type": "number"
            },
            {
              "id": "17",
              "name": "Receita Mensal",
              "value": "={{ $json.receita_valor_mensal }}",
              "type": "number"
            },
            {
              "id": "18",
              "name": "Receita Memorial",
              "value": "={{ $json.receita_memorial }}",
              "type": "string"
            },
            {
              "id": "19",
              "name": "Status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "20",
              "name": "ID Projeto",
              "value": "={{ $json.projeto_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1792, 176],
      "id": "8eb2dabe-323a-46aa-b44f-ee5af1239aff",
      "name": "Preparar para Planilha"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xS2zIMu-PGiqxUDOnLNXTqSzUzPlJsQW0_R1Z_4Cxnk",
          "mode": "list",
          "cachedResultName": "Submissão de Automações - Análise",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xS2zIMu-PGiqxUDOnLNXTqSzUzPlJsQW0_R1Z_4Cxnk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Projetos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xS2zIMu-PGiqxUDOnLNXTqSzUzPlJsQW0_R1Z_4Cxnk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Projeto",
              "lookupValue": "={{ $json['Projeto'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-1568, 176],
      "id": "cf783cf0-2cf2-4d55-a94a-5a55c8ba1969",
      "name": "Checar Duplicata na Planilha",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y0vMDyZQDVtxrGBQ",
          "name": "RPA IA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "571ecfa5-43bb-4f9d-95fc-0df3e665c442",
              "leftValue": "={{ $json.Projeto.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-1344, 176],
      "id": "9d59ceb4-2169-4814-b50e-3d4cf5fcc878",
      "name": "Projeto Novo?"
    },
    {
      "parameters": {
        "jsCode": "// Gera o conteúdo da documentação como texto para upload ao Drive\nconst dados = $('Formatar Dados').item.json;\nlet docJson = {};\ntry {\n  docJson = JSON.parse(dados.documentacao_json || '{}');\n} catch(e) {\n  docJson = {};\n}\n\nconst linhas = [];\ntry {\n  const arr = JSON.parse(dados.saving_linhas || '[]');\n  if (Array.isArray(arr)) {\n    for (const l of arr) {\n      linhas.push(`  - ${l.cargo}: ${l.horas_antes}h → ${l.horas_depois}h (economia: ${l.economia_horas_mes}h, R$ ${Number(l.economia_reais_mes).toFixed(2)})`);\n    }\n  }\n} catch(e) {}\n\nconst sections = [\n  `# ${dados.nome_projeto}`,\n  '',\n  `**Responsável:** ${dados.nome} (${dados.email})`,\n  `**Área:** ${dados.area}`,\n  `**Ferramenta:** ${dados.ferramenta}`,\n  `**Escopo:** ${dados.escopo}`,\n  `**Participantes:** ${dados.participantes || '—'}`,\n  `**Data de Criação:** ${dados.data_criacao}`,\n  `**Tipos de Projeto:** ${dados.tipos_projeto}`,\n  '',\n  '---',\n  '',\n  '## Descrição',\n  dados.descricao_breve || '—',\n  '',\n];\n\n// Documentação técnica gerada pela IA\nif (docJson.o_que_faz) {\n  sections.push('## O que faz');\n  sections.push(docJson.o_que_faz);\n  sections.push('');\n}\nif (docJson.execucao) {\n  sections.push('## Execução');\n  sections.push(docJson.execucao);\n  sections.push('');\n}\nif (docJson.dependencias && Array.isArray(docJson.dependencias)) {\n  sections.push('## Dependências');\n  for (const d of docJson.dependencias) {\n    sections.push(`- **${d.servico}**: ${d.descricao}`);\n  }\n  sections.push('');\n}\nif (docJson.fluxo && Array.isArray(docJson.fluxo)) {\n  sections.push('## Fluxo');\n  for (const f of docJson.fluxo) {\n    sections.push(`### ${f.etapa}`);\n    sections.push(f.descricao);\n    if (f.condicoes && f.condicoes.length > 0) {\n      for (const c of f.condicoes) {\n        sections.push(`  - SE ${c.se} → ${c.acao}`);\n      }\n    }\n  }\n  sections.push('');\n}\nif (docJson.configurar_antes && Array.isArray(docJson.configurar_antes)) {\n  sections.push('## Configurar antes');\n  for (const item of docJson.configurar_antes) {\n    sections.push(`- ${item}`);\n  }\n  sections.push('');\n}\nif (docJson.atencao && Array.isArray(docJson.atencao)) {\n  sections.push('## Atenção');\n  for (const a of docJson.atencao) {\n    sections.push(`- **${a.titulo}**: ${a.descricao}`);\n  }\n  sections.push('');\n}\n\n// Saving\nsections.push('---');\nsections.push('');\nsections.push('## Memorial de Saving');\nsections.push(`**Tipo:** ${dados.tipo_saving}`);\nsections.push(`**Saving Horas/mês:** ${dados.saving_horas}h`);\nsections.push(`**Saving Reais/mês:** R$ ${Number(dados.saving_reais).toLocaleString('pt-BR', {minimumFractionDigits: 2})}`);\nif (dados.custo_externo_mensal > 0) {\n  sections.push(`**Custo Externo Mensal:** R$ ${Number(dados.custo_externo_mensal).toLocaleString('pt-BR', {minimumFractionDigits: 2})}`);\n}\nif (linhas.length > 0) {\n  sections.push('');\n  sections.push('**Detalhamento por cargo:**');\n  sections.push(...linhas);\n}\nsections.push('');\nsections.push('**Memorial:**');\nsections.push(dados.memorial_calculo || '—');\n\n// Receita incremental\nif (dados.receita_valor_mensal > 0) {\n  sections.push('');\n  sections.push('---');\n  sections.push('');\n  sections.push('## Receita Incremental');\n  sections.push(`**Valor Mensal:** R$ ${Number(dados.receita_valor_mensal).toLocaleString('pt-BR', {minimumFractionDigits: 2})}`);\n  sections.push(`**Memorial:** ${dados.receita_memorial}`);\n}\n\nsections.push('');\nsections.push('---');\nsections.push(`Gerado automaticamente pelo GoDocs em ${dados.data_submissao}`);\n\nconst text = sections.join('\\n');\n\n// Retorna como binário para upload ao Drive\nconst buffer = Buffer.from(text, 'utf-8');\nreturn [{\n  json: { fileName: `${$now.setZone('America/Fortaleza').toFormat('yyyy-MM-dd_HHmmss')}_${dados.nome_projeto.replace(/[^a-zA-Z0-9]/g, '_')}_${dados.area}.md` },\n  binary: {\n    documentacao: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: `${$now.setZone('America/Fortaleza').toFormat('yyyy-MM-dd_HHmmss')}_${dados.nome_projeto.replace(/[^a-zA-Z0-9]/g, '_')}_${dados.area}.md`\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1120, 80],
      "id": "749000e3-098f-4c2d-a362-812b85b2de4c",
      "name": "Gerar Documento Markdown"
    },
    {
      "parameters": {
        "inputDataFieldName": "documentacao",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1e_Fk8EhFsv_W-3A3dRpMIa2Wg1pBHem_"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-896, 80],
      "id": "2fe49692-4ce0-4bd8-b14f-321a6c3fe762",
      "name": "Upload Documentação",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ADOsv0AQfyLWirub",
          "name": "RPA/IA"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1xS2zIMu-PGiqxUDOnLNXTqSzUzPlJsQW0_R1Z_4Cxnk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Projetos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xS2zIMu-PGiqxUDOnLNXTqSzUzPlJsQW0_R1Z_4Cxnk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data Submissão": "={{ $('Preparar para Planilha').item.json['Data Submissão'] }}",
            "Data Criação": "={{ $('Preparar para Planilha').item.json['Data Criação'] }}",
            "Área": "={{ $('Preparar para Planilha').item.json['Área'] }}",
            "Nome Completo": "={{ $('Preparar para Planilha').item.json['Nome Completo'] }}",
            "Participantes": "={{ $('Preparar para Planilha').item.json['Participantes'] }}",
            "Email": "={{ $('Preparar para Planilha').item.json['Email'] }}",
            "Ferramenta": "={{ $('Preparar para Planilha').item.json['Ferramenta'] }}",
            "Projeto": "={{ $('Preparar para Planilha').item.json['Projeto'] }}",
            "Descrição": "={{ $('Preparar para Planilha').item.json['Descrição'] }}",
            "URL": "={{ $json.webViewLink }}",
            "Escopo": "={{ $('Preparar para Planilha').item.json['Escopo'] }}",
            "Tipos Projeto": "={{ $('Preparar para Planilha').item.json['Tipos Projeto'] }}",
            "Saving Horas": "={{ $('Preparar para Planilha').item.json['Saving Horas'] }}",
            "Saving Reais": "={{ $('Preparar para Planilha').item.json['Saving Reais'] }}",
            "Tipo de Saving": "={{ $('Preparar para Planilha').item.json['Tipo de Saving'] }}",
            "Memorial de Saving": "={{ $('Preparar para Planilha').item.json['Memorial de Saving'] }}",
            "Custo Externo Mensal": "={{ $('Preparar para Planilha').item.json['Custo Externo Mensal'] }}",
            "Receita Mensal": "={{ $('Preparar para Planilha').item.json['Receita Mensal'] }}",
            "Receita Memorial": "={{ $('Preparar para Planilha').item.json['Receita Memorial'] }}",
            "Status": "={{ $('Preparar para Planilha').item.json['Status'] }}",
            "ID Projeto": "={{ $('Preparar para Planilha').item.json['ID Projeto'] }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Data Submissão", "displayName": "Data Submissão", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Data Criação", "displayName": "Data Criação", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Área", "displayName": "Área", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Nome Completo", "displayName": "Nome Completo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Projeto", "displayName": "Projeto", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Participantes", "displayName": "Participantes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Descrição", "displayName": "Descrição", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "URL", "displayName": "URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Ferramenta", "displayName": "Ferramenta", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Escopo", "displayName": "Escopo", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Tipos Projeto", "displayName": "Tipos Projeto", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Saving Horas", "displayName": "Saving Horas", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Saving Reais", "displayName": "Saving Reais", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Tipo de Saving", "displayName": "Tipo de Saving", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Memorial de Saving", "displayName": "Memorial de Saving", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Custo Externo Mensal", "displayName": "Custo Externo Mensal", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Receita Mensal", "displayName": "Receita Mensal", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Receita Memorial", "displayName": "Receita Memorial", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ID Projeto", "displayName": "ID Projeto", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-672, 80],
      "id": "b633dfb3-45c8-461d-bb10-94d0b981c8e2",
      "name": "Salvar na Planilha",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y0vMDyZQDVtxrGBQ",
          "name": "RPA IA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9e42c2a-9f65-49b9-9c77-26693eca9968",
              "leftValue": "={{ $json['Data Submissão'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-448, 80],
      "id": "d129c766-efcb-4b8e-bea8-7b17ba633abc",
      "name": "Planilha OK?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQArNbm72U/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=9mlk0to-8pN9Va8OXol-w1dosolvqYKZ824QJ1iAF5Q",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=──────────────────────\n\n🚨 *Novo fluxo de automação cadastrado – aprovação pendente*\n\n📌 *Projeto:* {{ $('Preparar para Planilha').item.json['Projeto'] }}\n🏷️ *Área:* {{ $('Preparar para Planilha').item.json['Área'] }}\n🛠️ *Ferramenta:* {{ $('Preparar para Planilha').item.json['Ferramenta'] }}\n📋 *Escopo:* {{ $('Preparar para Planilha').item.json['Escopo'] }}\n📂 *Tipos:* {{ $('Preparar para Planilha').item.json['Tipos Projeto'] }}\n\n👤 *Solicitante:* {{ $('Preparar para Planilha').item.json['Nome Completo'] }}\n📧 *E-mail:* {{ $('Preparar para Planilha').item.json['Email'] }}\n👥 *Participantes:* {{ $('Preparar para Planilha').item.json['Participantes'] || '—' }}\n\n📝 *Descrição resumida:*\n{{ $('Preparar para Planilha').item.json['Descrição'] }}\n\n⏱️ *Saving estimado (horas/mês):* {{ Number($('Preparar para Planilha').item.json['Saving Horas']).toLocaleString('pt-BR') }} horas\n\n💰 *Saving estimado (R$/mês):* R$ {{ Number($('Preparar para Planilha').item.json['Saving Reais']).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}\n\n📊 *Tipo de saving:* {{ $('Preparar para Planilha').item.json['Tipo de Saving'] }}\n\n{{ Number($('Preparar para Planilha').item.json['Receita Mensal']) > 0 ? '📈 *Receita incremental/mês:* R$ ' + Number($('Preparar para Planilha').item.json['Receita Mensal']).toLocaleString('pt-BR', { minimumFractionDigits: 2 }) : '' }}\n\n📎 *Documentação:* {{ $json.webViewLink || '—' }}\n\n📅 *Data da submissão:* {{ $('Preparar para Planilha').item.json['Data Submissão'].split(' ')[0] }}\n📊 *Status atual:* {{ $('Preparar para Planilha').item.json['Status'] }}\n\n👉 *Aguardando avaliação e aprovação dos responsáveis.*\n\n*Link da planilha de automações*: https://docs.google.com/spreadsheets/d/1xS2zIMu-PGiqxUDOnLNXTqSzUzPlJsQW0_R1Z_4Cxnk\n\n──────────────────────"
            }
          ]
        },
        "options": {}
      },
      "id": "e55d0fd5-e986-487f-83ea-0e38d5977725",
      "name": "Aviso Google Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-224, 80],
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ { \"ok\": true, \"message\": \"Projeto registrado com sucesso na planilha e Google Drive.\" } }",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [0, -16],
      "id": "3342813f-8429-40b8-8e0e-2aa056e2af9f",
      "name": "Responder Sucesso"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ { \"ok\": false, \"error\": \"Falha ao salvar na planilha.\" } }",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [0, 272],
      "id": "0ac7996a-181f-4a0a-bb12-b7778a22119f",
      "name": "Responder Erro Planilha"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ { \"ok\": false, \"error\": \"Projeto já cadastrado na planilha.\" } }",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-896, 272],
      "id": "e7f46400-640a-49b3-b93c-b78de252cc3e",
      "name": "Responder Duplicata"
    }
  ],
  "connections": {
    "Receber Dados": {
      "main": [
        [
          {
            "node": "Formatar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados": {
      "main": [
        [
          {
            "node": "Preparar para Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Planilha": {
      "main": [
        [
          {
            "node": "Checar Duplicata na Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Duplicata na Planilha": {
      "main": [
        [
          {
            "node": "Projeto Novo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Projeto Novo?": {
      "main": [
        [
          {
            "node": "Gerar Documento Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Duplicata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Documento Markdown": {
      "main": [
        [
          {
            "node": "Upload Documentação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Documentação": {
      "main": [
        [
          {
            "node": "Salvar na Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar na Planilha": {
      "main": [
        [
          {
            "node": "Planilha OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha OK?": {
      "main": [
        [
          {
            "node": "Aviso Google Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aviso Google Chat": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "171f99811848621122d69c9bd23f7df7cdb206bf5e783e87001278135248b4a7"
  }
}